@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,900,600);
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

html {
  background: #252127;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  transition: all 0.15s ease-in;
}

input:focus, textarea:focus, button:focus {
  outline: none;
}

.main-container {
  padding-left: 100px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
.main-container:last-child {
  margin-right: 0;
}
.main-container .full-bkg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100px;
  z-index: -1000;
}
.main-container.home .full-bkg {
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.main-container.search .full-bkg {
  background: #252127;
}

.sidebar-nav {
  width: 100px;
  height: 100%;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  background: #120F13;
}
.sidebar-nav ul {
  padding: 0;
  margin: 0;
}
.sidebar-nav ul li.nav-link {
  width: 100%;
  height: 100px;
  display: block;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  z-index: 9999;
  border-bottom: 1px solid black;
}
.sidebar-nav ul li.nav-link a .logo {
  width: 40px;
  vertical-align: middle;
}
.sidebar-nav ul li.nav-link a {
  display: block;
  padding: 30px 0;
  color: white;
  outline: none;
  font-weight: 200;
  text-decoration: none;
  vertical-align: middle;
}
.sidebar-nav ul li.nav-link a:hover {
  background: #E04F4D;
}
.sidebar-nav ul li.nav-link.active a {
  background: #E04F4D;
}

.home .jumberton {
  margin-top: 250px;
  text-align: center;
}
.home .jumberton p {
  color: white;
  font-weight: 200;
}
.home .jumberton p.welcome {
  font-size: 50px;
}
.home .jumberton p.info {
  padding-top: 20px;
  font-size: 20px;
  opacity: 0.8;
}
.home .jumberton .search-summoner {
  padding-top: 30px;
}
.home .jumberton .region-select {
  height: 48px;
  padding: 0 15px;
  color: black;
  font-size: 14px;
  font-weight: 200;
  border: 0;
  border-radius: 0;
  border-left: 1px solid #E04F4D;
  outline: 0;
  background: white;
  -webkit-appearance: none;
}
.home .jumberton .text-input {
  height: 48px;
  min-width: 200px;
  padding: 15px;
  color: black;
  font-size: 14px;
  font-weight: 200;
  border: 0;
  outline: 0;
  background: white;
  -webkit-appearance: none;
}
.home .jumberton .btn-blue {
  height: 48px;
  padding: 15px 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  background: #E04F4D;
  -webkit-appearance: none;
}
.home .jumberton .btn-blue:hover {
  background: #C94543;
}

.search .heading {
  width: 100%;
  height: 100px;
  padding: 15px 30px;
  border-bottom: 1px solid black;
  background: #120F13;
}
.search .heading .avatar {
  float: left;
  display: block;
  width: 70px;
  height: auto;
}
.search .heading .avatar img {
  width: 100%;
}
.search .heading .account-detail {
  float: left;
  display: block;
  padding-left: 15px;
  vertical-align: top;
}
.search .heading .account-detail p {
  color: white;
  font-weight: 300;
}
.search .heading .account-detail p.name {
  font-size: 30px;
  font-weight: 400;
}
.search .heading .account-detail p.level {
  padding-top: 5px;
}
.search .heading .mastery-score {
  text-align: center;
}
.search .heading .mastery-score p {
  color: white;
  font-weight: 300;
}
.search .heading .mastery-score p.title {
  font-size: 20px;
}
.search .heading .mastery-score p.score {
  font-size: 15px;
}
.search .heading .sort-group {
  float: right;
  padding-top: 15px;
}
.search .heading .sort-group input {
  display: none;
}
.search .heading .sort-group label {
  display: inline-block;
  color: white;
  font-weight: 300;
}
.search .heading .sort-group .button-group-item {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  background: #E04F4D;
}
.search .heading .sort-group input:checked + .button-group-item {
  background: #C94543;
}
.search .score-heading {
  width: 100%;
  height: 50px;
  padding: 10px 30px;
  border-bottom: 1px solid black;
  background: #211D23;
}
.search .score-heading p {
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.search .score-heading .mastery-score {
  float: left;
}
.search .score-heading .total-points {
  float: right;
}
.search .champion-grid .item {
  width: 16.5%;
  height: 350px;
  min-width: 210px;
  max-width: 308px;
  background: black;
}
.search .champion-grid .item .bkg {
  width: auto;
  max-height: 350px;
  overflow: hidden;
}
.search .champion-grid .item .bkg img {
  width: 308px;
  height: 560px;
  margin: -50px 0 0 -25px;
}
.search .champion-grid .item .details {
  z-index: 200;
  position: relative;
  width: 100%;
  height: 80px;
  margin-top: -80px;
  text-align: center;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 100%);
}
.search .champion-grid .item .details p.champ-name {
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.search .champion-grid .item .details .mastery-score span.active {
  padding: 2px;
  color: #ffc600;
}
.search .champion-grid .item .details p.mastery-points {
  color: white;
  font-weight: 300;
  font-size: 13px;
}
